body{
    background-color: #E8EFF6;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: cover;
}

.title{
    color: #4BB84B;
    font-weight: 900;
    font-size: 46px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropArea{
    background-color: rgba(95, 195, 220, 0.5);
    color: black;
    display: block;
    width: 80%;
    padding: 10px 40px;
    border-radius: 20px;
    border: dashed #000000;
}

.dropArea .otherDrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropArea .otherDrop i{
    font-size: 40px;
}

.dropArea h3{
    font-size: 25px;
}

.uploadBtn{
    background-color: #4BB84B;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
}

.uploadBtn:hover{
    opacity: 0.9;
}